{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>به ایبانک خوش آمدید!</h2>
    <p>از خدمات گوناگون ما بهره‌مند شوید و سطحی جدید از بانکداری اینترنتی را تجربه کنید.</p>
  </div>
</div>
<div class="container">
  <div class="row">
  {% for usecase in usecases %}
    {% if role == usecase.role %}
    <div class="col-xs-6 col-lg-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ usecase.name }}</h3>
          <p><a class="btn btn-primary" href="{{ usecase.href }}" role="button">انجام &raquo;</a></p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>
<!-- /container -->
{% endblock %}
