{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>به ایبانک خوش آمدید!</h2>
    <p>از خدمات گوناگون ما بهره‌مند شوید و سطحی جدید از بانکداری اینترنتی را تجربه کنید.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-lg-4">
      <h2>کارت به کارت</h2>
      <p>می‌توانید پول خود را از کارتتان به کارت دوستتان بریزید.</p>
      <p><a class="btn btn-default" href="/list" role="button">انجام &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>کارت به کارت</h2>
      <p>می‌توانید پول خود را از کارتتان به کارت دوستتان بریزید.</p>
      <p><a class="btn btn-default" href="#" role="button">انجام &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>کارت به کارت</h2>
      <p>می‌توانید پول خود را از کارتتان به کارت دوستتان بریزید.</p>
      <p><a class="btn btn-default" href="#" role="button">انجام &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>کارت به کارت</h2>
      <p>می‌توانید پول خود را از کارتتان به کارت دوستتان بریزید.</p>
      <p><a class="btn btn-default" href="#" role="button">انجام &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>کارت به کارت</h2>
      <p>می‌توانید پول خود را از کارتتان به کارت دوستتان بریزید.</p>
      <p><a class="btn btn-default" href="#" role="button">انجام &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>کارت به کارت</h2>
      <p>می‌توانید پول خود را از کارتتان به کارت دوستتان بریزید.</p>
      <p><a class="btn btn-default" href="#" role="button">انجام &raquo;</a></p>
    </div>
  </div>
</div>
<!-- /container -->
{% endblock %}