{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="page-header">{{ title }}</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for entity in entities %}
          <tr>
            {% for cell in entity %}
              <td>
                {% if cell.href %}
                  <a class="btn btn-xs btn-primary" role="button" href="{{cell.href}}">{{cell.label}}</a>
                {% else %}
                  {{ cell.label }}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}