{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="page-header">شعب بانک</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>شماره شعبه</th>
          <th>نام شعبه</th>
          <th>آدرس شعبه</th>
          <th>مدیر شعبه</th>
          <th>اعمال</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>سعادت آباد</td>
          <td>سعادت آباد، میدان کاج</td>
          <td>آقای علیزاده</td>
          <td><a>ویرایش</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>سعادت آباد</td>
          <td>سعادت آباد، میدان کاج</td>
          <td>آقای علیزاده</td>
          <td><a>ویرایش</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>سعادت آباد</td>
          <td>سعادت آباد، میدان کاج</td>
          <td>آقای علیزاده</td>
          <td><a>ویرایش</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>سعادت آباد</td>
          <td>سعادت آباد، میدان کاج</td>
          <td>آقای علیزاده</td>
          <td><a>ویرایش</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}