{% load static %}
<!doctype html>
<html dir="rtl">

<head>
  <meta charset="utf-8">
  <title>بانک</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-rtl.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>
  {% block header %}{% endblock %} {% block content %}{% endblock %}
  <div class="container">
  <hr>
  <footer>
    <p>ایبانک ۱۳۹۵ &copy;</p>
  </footer>
  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>